/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(147, 201, 211);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(211, 224, 26);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #f842f8;
    color: white;
  }

  body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  